[submodule "Seraphic_INBT010311_Jul24"]
	path = Seraphic_INBT010311_Jul24
	url = https://github.com/PRACHI00587/Seraphic_INBT010311_Jul24.git
[submodule "Language-Translator_INBT010311_Jul24"]
	path = Language-Translator_INBT010311_Jul24
	url = https://github.com/PRACHI00587/Language-Translator_INBT010311_Jul24.git
