#footer {
    margin-top: 5rem;
    padding: 7rem;
    background-color: #f7f7f7;
}

#div1 {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    line-height: 2rem;
    grid-template-areas: "a b c d";
}

#a :nth-child(1) {
    font-weight: bolder;
}

#footer p {
    font-size: 1rem;
}

#footer h5 {
    font-size: 1.5rem;
    color: black;
}

li > b {
    color: black;
}

#mainDiv > div > p:first-child {
    font-weight: bold;
}

#playstore {
    margin-bottom: 4rem;
}

#playstore > img {
    width: 13rem;
    padding-right: 1rem;
}

#playstore + p {
    font-weight: bold;
}

#socialMedia {
    display: flex;
    width: 30%;
    justify-content: space-between;
    color: #6b6d7a;
}

#subDiv {
    width: 60%;
}

.subdiv {
    display: flex;
    justify-content: space-evenly;
}

.subdiv > img {
    padding: 1.5rem;
    width: 5rem;
    height: 5rem;
}

#pline {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}

#pline > div {
    width: 85%;
    height: 0.05rem;
    border-top: 0.2rem solid #e9e9ed;
}

#p {
    width: 80%;
    margin: auto;
    border-bottom: 0.2rem solid #e9e9ed;
}

#pDiv > p {
    color: #696b79;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

img + p > b {
    color: black;
    font-size: 1.5rem;
}

p > b {
    color: #1155f3;
}

.color span {
    color: #1155f3;
}

#pterm {
    display: flex;
    justify-content: space-between;
}

#address {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2rem solid #e9e9ed;
}

#address > div {
    width: 30%;
    color: #696b79;
    font-size: 1.5rem;
}

#address > div + div {
    margin-top: 9rem;
}

#discrp1 {
    color: #696b79;
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
}
